/* =================== Global ================== */
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}


/* =================== Sections ================== */

.section-top-header {
    height: 30vh;
    background-color: blue;
}

.section-main {
    height: 100vh;
    background: red;
}

.section-bottom-footer {
    height: 30vh;
    background: yellow;
}

/* =================== Header (including nav) ================== */

.container-title {

}

.header-nav {

}

.header-nav-ul {

}

/* =================== Footer ================== */

.site-by {

}

.footer-nav {

}

.footer-nav-ul {

}

/* =================== Home (index.html) ================== */

main {
    display: flex;
    justify-content: space-between;
}

.container-left-pane {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-left-pane h1 {
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.container-right-pane {
    width: 40vw;
    padding: 0 10vw 0 0vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.container-right-pane p {
    font-size: 25px;
}

.container-right-pane p a {
    font-size: 25px;
    color: black;
}

/* =================== About ================== */

.container-subtitle {

}

.container-about-content {
    
}

/* =================== Contact ================== */

.container-contact-subtitle {

}

.container-contact-form {
    
}